<!DOCTYPE html>
<html>
  <head>
    <title>UndulatusAsperatus</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script type="text/javascript">
      window.banner = "<%=asset_path('cyberpunk_city.jpg')%>"
      window.logo = "<%=asset_path('cloud.png') %>"
      window.left = "<%= asset_path('left_arrow.png')%>"
      window.right = "<%= asset_path('right_arrow.svg')%>"
      window.sound = "<%= asset_path('sample.4mb.mp3')%>"
      window.repeat = "<%= asset_path('repeat.jpg')%>"
      window.play = "<%= asset_path('play.png')%>"
      window.pause = "<%= asset_path('pause.png')%>"
    </script>
    <%= yield %>
  </body>
</html>
